/* Reset */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
html, body {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  /* font-size: 100%; */
  font-family: sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: var(--black);
  background: var(--white);
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 24px 0;
}
p, ul, ol {
  text-wrap: pretty;
  /*  max-width: 75ch;*/
  margin: 0 0 24px 0;
}
h1 {
  font-size: 2em;
  line-height: 1.2;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  line-height: 1.2;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  line-height: 1.2;
  font-weight: bold;
}
h5 {
  font-size: 0.83em;
  line-height: 1.2;
  font-weight: bold;
}
h6 {
  font-size: 0.75em;
  line-height: 1.2;
  font-weight: bold;
}
a {
  color: var(--link);
  word-wrap: break-word;
  text-underline-position: under;
  text-underline-offset: 1px;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
ul, ol {
  margin-bottom: 24px;
}
li {
  margin-bottom: 16px;
}